@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100&family=VT323&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    line-height: 25px;
}

html {
    background-color: #1d1d1d;
}

.container {
    display: flex;
    height: 100%;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20%;
    min-width: 160px;
    height: 100vh;
    color: #B2B2B2;
    background-color: #000;
}

.menu .wrapper {
    margin-bottom: 18px;
    padding: 0 16px 0 16px;
    font-size: 12.5px;
    font-weight: bold;
}

.menu .logo {
    padding-top: 19px;
}

.menu .logo img {
    width: 138px;
    padding: 6px;
}

.menu .wrapper ul {
    list-style: none;
}

.menu .wrapper ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 40px;
    text-align: center;
    cursor: pointer;
    transition: color 0.4s ease;
}
.menu .wrapper ul li:hover{
    color: #fff;
}

.menu .wrapper ul li img {
    width: 26px;
    margin: 0 15px 10px 5px;
}

.menu .wrapper ul span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu .wrapper button {
    display: flex;
    align-items: center;
    background: none;
    border: 0;
    padding: 8px 16px 10px 6px;
    cursor: pointer;

}

.menu .wrapper button img {
    width: 25px;
}

.menu .btn-a {
    white-space: nowrap;
    overflow: hidden;
}

.menu .wrapper button span {
    color: #B2B2B2;
    padding-left: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
}

.menu .wrapper a {
    display: flex;
    align-items: center;
    padding: 6px;
    text-decoration: none;
}

.menu .wrapper a img {
    width: 25px;
    filter: contrast(60%);
}

.menu .wrapper img:hover {
    filter: contrast(120%);
}

.menu .wrapper a span {
    padding-left: 15px;
    color: #B2B2B2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu .footer-nav {
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.menu .footer-nav a {
    font-weight: lighter;
    font-size: 11px;
    color: #B2B2B2;
}

.resize-bar {
    cursor: col-resize;
    position: absolute;
}

.abcd {
    height: 100%;
    right: -4.5px;
    width: 9px;
    background-color: rgb(12, 83, 145);
}


/*********** header **************/

section {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #101010;
    height: 63px;
}

.btn-prev-next {
    position: relative;
    display: flex;
    gap: 16px;
    top: 3px;
    left: 32px;
}

.btn-prev-next img {
    width: 26px;
    cursor: pointer;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #9C9C9C;
    padding: 10px;
}

.header-nav span {
    position: relative;
    color: #ffffff;
    font-size: x-large;
    padding: 25px;
    bottom: 3px;
}

.header-nav .complement a{
    display: inline-block;
    font-size: 15px;
    transition: all 0.2s ease;
}
.header-nav .complement a:hover{
    color: #fff;
    transform: scale(1.04);
}

.header-nav .btn-login-sing {
    display: flex;
    align-items: center;
}

.header-nav .btn-login-sing a {
    transition: all 0.2s ease;
    font-size: 15px;
    margin-right: 20px;
}
.header-nav .btn-login-sing a:hover{
    color: #fff;
    transform: scale(1.04);
}

.header-nav .btn-login-sing a:last-child {
    position: relative;
    display: inline-block;
    border: 0;
    border-radius: 50px;
    margin-right: 30px;
    color: #000;
    background-color: #fff;
    padding: 12px 32px;
}